/**
 * Custom style for Tour Planner
 */
:root{
  --body-bgcolor: #eeeeee;
  --em-text-color: #1eb1eb;
  --navbar-bgcolor: #000000;
  --brand-text-color: #1eb;
  --nactive-nfocus-headers-color:#aec1c1;
  --active-or-hover-headers-color: #44c1c1;
}
body {
  padding-top: 50px;
  background-color: var(--body-bgcolor) ;
  background-image: url('../img/home_jumbo.jpg');
  
}

.em-text {
  color: var(--em-text-color) !important;
}

.container > .navbar-collapse {
  margin-left: 75px;
}

.navbar-default {
  background-color: var(--navbar-bgcolor);
}

.navbar-custom {
  padding: 10px;
}
.navbar-default .navbar-brand  {
  padding-top:25px;
  Color: var(--brand-text-color);
  font-size: 22px;
}

.navbar {
  margin-bottom: 0px;
}
.navbar-nav > li > a {
  padding-top:30px;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: var(--nactive-nfocus-headers-color);
}

.navbar-default .navbar-nav > li > a:hover {
  color: var(--active-or-hover-headers-color);
}

.navbar-default .navbar-nav > .active > a {
  font-weight: bold;
  background-color: rgba(0,0,0,0) !important;
  color: var(--active-or-hover-headers-color);
}

.navbar-default .navbar-nav > .active > a:hover {
  color: var(--active-or-hover-headers-color);
}
