body {
  padding-top: 50px;
}

.em-text {
  color:#1eb1eb !important;
}

.container > .navbar-collapse {
  margin-left: 75px;
}

.navbar-default .navbar-brand  {
  padding-top:25px;
  Color: #1eb;
  font-size: 22px;
}

.navbar {
  margin-bottom: 0px;
}
.navbar-nav > li > a {
  padding-top:30px;
}

.navbar-default .navbar-nav > .active > a {
  font-weight: bold;
  background-color: rgba(0,0,0,0) !important;
}
