/**
 * Custom style for Tour Planner
 */
:root{
  --body-bgcolor: #eeeeee;
  --em-text-color: #1eb1eb;
  //--navbar-bgcolor: #000000;
  --navbar-bgcolor: -webkit-linear-gradient(left, black, #056056);
  --brand-text-color: #1eb;
  --nactive-nfocus-headers-color:#aec1c1;
  --active-or-hover-headers-color: #44c1c1;
}
body {
  padding-top: 50px;
  background-color: var(--body-bgcolor) ;
  
}

.em-text {
  color: var(--em-text-color) !important;
}
/*
.container > .navbar-collapse {
  margin-left: 75px;
}*/

.navbar-default {
  background: var(--navbar-bgcolor);
}

.navbar-custom {
  padding: 10px;
}
.navbar-default .navbar-brand  {
  padding-top:25px;
  Color: var(--brand-text-color);
  font-size: 22px;
}

.navbar > .container .navbar-brand{
  margin-left:100px;
  width: 200px;
}

.navbar {
  margin-bottom: 0px;
}
.navbar-nav > li > a {
  padding-top:30px;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: var(--nactive-nfocus-headers-color);
}

.navbar-default .navbar-nav > li > a:hover {
  color: var(--active-or-hover-headers-color);
}

.navbar-default .navbar-nav > .active > a {
  font-weight: bold;
  background-color: rgba(0,0,0,0) !important;
  color: var(--active-or-hover-headers-color);
}

.navbar-default .navbar-nav > .active > a:hover {
  color: var(--active-or-hover-headers-color);
}


#social .navbar .navbar-nav {
  float: right;
}

#nav-xs {
  display:none;
}

@media screen and (max-width:768px) {

  .navbar > .container .navbar-brand{
    margin-left: 50px;
  }

  #navbar-social{
    display: none;
  }

  #navbar {
    margin-left:50px;
  }
}

@media screen and (max-width:425px)  {


  #nav-md {
    display: none;
  }

  #nav-xs {
    display:block;
  }

  #nav-xs button {
    color: var(--brand-text-color);
    background-color: var(--navbar-bgcolor);
    font-size: 22px;
    border: none;
    padding: 15px 0px 5px 20px;;
  }

  .open > .dropdown-menu {
    background-color: var(--navbar-bgcolor) !important;
  }

}